.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.MuiPaper-root-2 {
  min-width: 250px;
  max-width: 500px;
  margin: 5px;
  display: inline-block;
  min-height: 200px;
}

hr {
  margin: 10px !important;
}
